.controller {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 10px;
}

.controller div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controller div:nth-child(2) {
  flex-direction: column;
}

.nav {
  width: 80px;
  padding: 10px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 2px 2px 2px dimgray;
  background-color: transparent;
  border: 1px solid cadetblue;
  color: cadetblue;
  cursor: pointer;
}

.nav:hover,
.nav:focus {
  background-color: cadetblue;
  color: #fff;
}

@media screen and (min-width: 1158px) {
  .nav {
    display: none;
  }
}
