.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: cadetblue;
  margin: 0;
}

.gameBord {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  min-width: 320px;
  min-height: 320px;
  background-color: darkgrey;
  position: relative;
}

.item {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid rgb(175, 175, 175);
  box-sizing: border-box;
}

.App section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #fff;
  margin-bottom: 10px;
}

button {
  width: 100px;
  padding: 10px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 2px 2px 2px dimgray;
  background-color: transparent;
  border: 1px solid cadetblue;
  color: cadetblue;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: cadetblue;
  color: #fff;
}

.gamer {
  justify-content: start;
  color: cadetblue;
  font-size: 20px;
}

.level-speed {
  text-align: center;
  font-weight: 700;
  color: cadetblue;
  margin: 0;
  width: 100px;
}
